@import url("style.css");
@media all and (max-width: 1440px) {
    .item{
        height: 100px;
    }
    .item:first-child{
        background-color: yellow;
    }
    .item:nth-child(2){
        background-color: violet;
    }
    .item:last-child{
        background-color: aqua;
    }
}

@media all and (max-width: 1280px){
    .item{
        width: 250px;
        float: left;
    }
}